/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Zynq EBAZ4205 board";
	compatible = "xlnx,zynq-ebaz4205", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		mmc0 = &sdhci0;
		nand0 = &nand0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0 0x10000000>;
	};

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};
};

&clkc {
	u-boot,dm-pre-reloc;
	ps-clk-frequency = <33333333>;
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gem0 {
	status = "okay";
	phy-mode = "mii";
	local-mac-address = [00 11 22 33 44 55];
	phy-handle = <&ethernet_phy>;

	assigned-clocks = <&clkc 16>;
	assigned-clock-rates = <25000000>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&nand0 {
	status = "okay";
};
